{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="page_about pages_item">
<div class="bg_full_cp">
	<div class="bg_full" style="background-image: url('../static/images/img/gr1.jpg'); background-repeat: no-repeat; background-position: center;">
		<div class="container">
			<div class="ct">
				<h2 class="page_title">
					<span>About Us</span>
				</h2>
			</div>
		</div>
	</div>
</div>
<div class="who-about">
	<div class="careers">
		<div class="container">
			
			<div class="title">
				<h3 style="text-align: center; padding-bottom: 55px; font-size: 50px;margin-top: 20px " ><b>About</b></h3>
			</div>
			<div class="row">
				<div class="cosl col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="image-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img src="{% static 'images/img/g1.jpg' %}" alt="">
						</div>
						<div class="content-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h4>our goals</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</div>
				</div>
				<div class="cosl col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="content-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h4>Mission Vision</h4>
							<p>We’re seeking candidates who are ready to test their skills and make an impact in the real world. We are committed to growing and advancing people from within who have demonstrated the ability to deliver excellent results in different ways. Your success is ours, too.</p>
						</div>
						<div class="image-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img src="{% static 'images/img/m1.jpg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="cosl col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="image-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img src="{% static 'images/img/o1.jpg' %}" alt="">
						</div>
						<div class="content-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h4>Obectives</h4>
							<p>At Financial Solutions, we honor a work-life balance. We value the importance of your personal life because we’re people too. That’s why we enjoy a generous benefits program, including medical, dental, vision, life insurance, paid time off, and so much more.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

