{% extends "base.html" %}
{% load static %}
{% block content %}

	<div role="main" class="main">
		<section class="parallax section section-text-light section-parallax section-center mt-none mb-xl" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static 'img/demos/digital-agency/slides/slide-digital-agency-1.jpg' %}" style="min-height: 560px;">
			<div class="container">
				<div class="row mt-xl">
					<div class="col-md-8 col-md-offset-2 mt-xlg">
						<h1 class="mt-xlg font-weight-semibold text-uppercase">About.</h1>
						<p class="mb-none lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>
					</div>
				</div>
			</div>
		</section>

		<div class="container">
			<div class="row mb-xl mt-xlg">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-6">
							<h4 class="font-weight-semibold">Company.</h4>
							<p class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>
						</div>
						<div class="col-md-6">
							<h4 class="font-weight-semibold">Mission.</h4>
							<p class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>
						</div>
					</div>

					<blockquote class="mt-xl ml-lg blockquote-secondary">
						<p>Pellentesque pellentesque eget tempor tellus. Fusce lacllentesque eget tempor tellus ellentesque pelleinia tempor malesuada.</p>
						<footer>David Doe, CEO</footer>
					</blockquote>
				</div>
				<div class="col-md-3 hidden-xs">
					<div class="row">
						<div class="col-md-6">
							<img class="img-responsive mt-xl mb-xl" src="img/office/our-office-4.jpg" alt="Office">
							<img class="img-responsive mb-xl" src="img/office/our-office-6.jpg" alt="Office">
						</div>
						<div class="col-md-6">
							<img class="img-responsive mb-xl" src="img/office/our-office-5.jpg" alt="Office">
							<img class="img-responsive mb-xl" src="img/office/our-office-7.jpg" alt="Office">
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section section-default">
			<div class="container">
				<div class="row">
					<div class="counters">
						<div class="col-md-3 col-sm-6">
							<div class="counter counter-dark">
								<i class="fa fa-user"></i>
								<strong data-to="25000" data-append="+">0</strong>
								<label>Happy Clients</label>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="counter counter-dark">
								<i class="fa fa-star"></i>
								<strong data-to="15">0</strong>
								<label>Years in Business</label>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="counter counter-dark">
								<i class="fa fa-coffee"></i>
								<strong data-to="352">0</strong>
								<label>Cups of Coffee</label>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="counter counter-dark">
								<i class="fa fa-bar-chart"></i>
								<strong data-to="178">0</strong>
								<label>High Score</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="m-xl pb-xl">
			<div class="container">
				<div class="row">
					<div class="col-md-12 center">
						<h2 class="mb-none mt-xl font-weight-semibold">Leadership.</h2>
						<p class="lead mb-none">Pellentesque pellentesque eget tempor tellus. </p>
						<div class="divider divider-primary divider-small divider-small-center mb-xl">
							<hr>
						</div>
					</div>
				</div>
				<div class="row mt-lg">
					<div class="col-md-8 col-md-offset-2">
						<div class="row mt-lg">
							<div class="col-md-3 col-xs-12 center mb-lg">
								<h4 class="mt-md mb-none">David Doe</h4>
								<p class="mb-none">CEO</p>
								<span class="thumb-info-social-icons mt-sm pb-none">
									<a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
									<a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
									<a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
								</span>
							</div>
							<div class="col-md-3 col-xs-12 center mb-lg">
								<h4 class="mt-md mb-none">Jeff Doe</h4>
								<p class="mb-none">CMO</p>
								<span class="thumb-info-social-icons mt-sm pb-none">
									<a href="mailto:mail@example.com"><i class="fa fa-envelope"></i><span>Email</span></a>
									<a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
								</span>
							</div>
							<div class="col-md-3 col-xs-12 center mb-lg">
								<h4 class="mt-md mb-none">Craig Doe</h4>
								<p class="mb-none">COO</p>
								<span class="thumb-info-social-icons mt-sm pb-none">
									<a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
									<a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
									<a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
								</span>
							</div>
							<div class="col-md-3 col-xs-12 center mb-lg">
								<h4 class="mt-md mb-none">Richard Doe</h4>
								<p class="mb-none">President</p>
								<span class="thumb-info-social-icons mt-sm pb-none">
									<a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section section-default section-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 center">
						<h2 class="mb-none mt-xl font-weight-semibold">Clients.</h2>
						<p class="lead mb-none">Pellentesque pellentesque eget tempor tellus. </p>
						<div class="divider divider-primary divider-small divider-small-center mb-xl">
							<hr>
						</div>
					</div>
				</div>
				<div class="row mt-lg">
					<div class="content-grid content-grid-dashed mt-xlg mb-lg">
						<div class="row content-grid-row">
							<div class="content-grid-item col-md-4 center">
								<img class="img-responsive" src="img/logos/logo-1.png" alt="">
							</div>
							<div class="content-grid-item col-md-4 center">
								<img class="img-responsive" src="img/logos/logo-2.png" alt="">
							</div>
							<div class="content-grid-item col-md-4 center">
								<img class="img-responsive" src="img/logos/logo-3.png" alt="">
							</div>
						</div>
						<div class="row content-grid-row">
							<div class="content-grid-item col-md-4 center">
								<img class="img-responsive" src="img/logos/logo-4.png" alt="">
							</div>
							<div class="content-grid-item col-md-4 center">
								<img class="img-responsive" src="img/logos/logo-5.png" alt="">
							</div>
							<div class="content-grid-item col-md-4 center">
								<img class="img-responsive" src="img/logos/logo-6.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

