{% load static %}
<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>{{ profile.name }}</title>	

		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="images/icon-logo.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css'>
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>


		<script src="{% static 'js/index.js' %}"></script>

	</head>
	<body class="home4 page_list_posts page_detail pages_item page_event page_blog_detail event-detail">

		<div class="body">
			{% include 'header.html' %}

			{% block content %}
			
			{% endblock %}

			<div class="footer">
				<div class="container">	
					<div class="row">
						<div class="footer-1">
							<div class="item col-md-4">
								<div class="title">
									<h3>Useful Links</h3>
								</div>
								<ul class="us1">
									<li><a href="#">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Activities</a></li>
									<li><a href="#">Gallery</a></li>
									<li><a href="#">Programs</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
							<div class="item2 col-md-4">
								<div class="title">
									<h3>Latest Tweet</h3>
								</div>
								<p class="p1"><b>@WordPress :</b> Lorem ipsum dolor sit amet, consetetur sadipscing elitre<br> <a href="#">http://t.co/B0aO4FrqN0</a><br> 18 hours ago</p>
								<p class="p2"><b>@WordPress :</b> Lorem ipsum dolor sit amet, consetetur sadipscing elitre<br> <a href="#">http://t.co/B0aO4FrqN0</a><br> 18 hours ago</p>
							</div>
							<div class="item3 col-md-4">
								<div class="title">
									<a href=""><img src="../../images/logo_footer_green.png" alt=""></a>
								</div>
								<div class="pz">
									<p>Lorem ipsum dolor sit amet conseteturop sapscing elitre sed diam eimod tempores einvidunt labore voluptua dolores.</p>
								</div>
								<div class="email email1">
									<p><i class="fa fa-envelope-o"></i>Contact@Charitys.com</p>
								</div>
								<div class="email email2">
									<p><i class="fa fa-phone"></i>(305) 123 456 789 - 888</p>
								</div>
							</div>
						</div>
						<div class="copyright">
							<div class="social">
								<div class="social1">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-dribbble"></i></a>
									<a href=""><i class="fa fa-google-plus"></i></a>
									<a href=""><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="oxy">
								<a href="#">Home</a>
								<a href="#">About</a>
								<a href="#">Activities</a>
								<a href="#">Gallery</a>
								<a href="#">Programs </a>
								<a href="#">Contact Us  </a>
							</div>
							<!-- <div class="cpr">
								<p><span>CharityPlus</span> by <span>SpyroPress</span>. All right Reserved</p>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>

<script type="text/javascript">
		(function($){
			$('#setting').on('click',function(e){
				e.preventDefault();
				$('.menu').slideToggle('slow');
			});
			$('#close').on('click',function(e){
				e.preventDefault();
				$('.menu').slideToggle('slow');
			});
			$('#sub_1').on('click',function(e){
				e.preventDefault();
				$('.sub1').slideToggle('slow');
			});
			$('#sub_2').on('click',function(e){
				e.preventDefault();
				$('.sub2').slideToggle('slow');
			});
			$('#sub_3').on('click',function(e){
				e.preventDefault();
				$('.sub3').slideToggle('slow');
			});
			$('#sub_4').on('click',function(e){
				e.preventDefault();
				$('.sub4').slideToggle('slow');
			});
			$('#sub_5').on('click',function(e){
				e.preventDefault();
				$('.sub5').slideToggle('slow');
			});
			$('#sub_6').on('click',function(e){
				e.preventDefault();
				$('.sub6').slideToggle('slow');
			});
			$('#quick-menu').on('click',function(e){
				e.preventDefault();
				$('.sub9').slideToggle('linear');
			});
			$(window).resize(function(){
				if($(window).width()>1200){
					$('.menu').css('display','block');
				}
				if($(window).width()<1200){
					$('.menu').css('display','none');
				}
			});
		})(jQuery);
</script>


	</body>
</html>