{% extends "base.html" %}
{% load static %}
{% block content %}

	<div role="main" class="main">
		<section class="section section-text-light section-default section-default-scale-8 section-center mt-none">
			<div class="container">
				<div class="row mt-xl">
					<div class="col-md-8 col-md-offset-2 mt-xlg">
						<h1 class="mt-xlg font-weight-semibold text-uppercase">Say Hello.</h1>
						<p class="mb-none lead">We welcome your every suggestion.</p>
					</div>
				</div>
				<div class="row mt-lg">
					<div class="col-md-10 col-md-offset-1">
						<div class="row mt-lg align-left">
							<div class="col-md-5 mb-lg">
								<h4 class="mt-md mb-none"></h4>
								<ul class="list list-icons mt-xlg">
									<li><i class="fa fa-user"></i> <strong></strong>Mohammad Ziaul Alam</li>
									<li><i class="fa fa-briefcase"></i> <strong></strong>Head of Economics</li>
									<li><i class="fa fa-map-marker"></i> <strong></strong>CIDER International School, Chittagong</li>
								</ul>
							</div>
							<div class="col-md-5 col-md-offset-2 mb-lg">
								<h4 class="mt-md mb-none"></h4>
								<ul class="list list-icons mt-xlg">
									<li><i class="fa fa-phone"></i> <strong>Phone:</strong>+880 19 7252 4004</li>
									<li><i class="fa fa-envelope"></i> <strong>Email:</strong>zia524004@gmail.com</li>
									<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> Chittagong-4219</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row mt-lg">
						<div class="col-md-10 col-md-offset-1 center">

							<div class="divider divider-primary divider-small divider-small-center mb-xl">
								<hr>
							</div>

							<h2 class="mb-none mt-xl font-weight-semibold">Send us a Message.</h2>
							<p class="lead mb-none"> </p>

							<div class="divider divider-style-4 divider-primary divider-top-section-custom taller">
								<i class="fa fa-chevron-down"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="container">

			<div class="row mt-xl">
				<div class="col-md-10 col-md-offset-1">

					<div class="alert alert-success hidden mt-lg" id="contactSuccess">
						<strong>Success!</strong> Your message has been sent to us.
					</div>

					<div class="alert alert-danger hidden mt-lg" id="contactError">
						<strong>Error!</strong> There was an error sending your message.
						<span class="font-size-xs mt-sm display-block" id="mailErrorMessage"></span>
					</div>

					<form id="" action="/email_send/" method="POST">{% csrf_token %}
						
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<input type="text" placeholder="Your Name" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control input-lg" name="name" id="name" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<input type="email" placeholder="Your E-mail" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control input-lg" name="email" id="email" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<input type="text" placeholder="Subject" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control input-lg" name="subject" id="subject" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-12">
									<textarea maxlength="5000" placeholder="Message" data-msg-required="Please enter your message." rows="10" class="form-control input-lg" name="message" id="message" required></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<input type="submit" value="Save" class="btn btn-primary btn-lg mb-xs" data-loading-text="Loading...">
							</div>
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>
{% endblock %}

