{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/demos/demo-church.css' %}">
<div role="main" class="main">
	<div class="slider-container rev_slider_wrapper" style="height: 600px;">
		<div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 600}">
			<ul>
				<li data-transition="fade">

					<img src="{% static 'img/slides/s1.jpg' %}"
						alt=""
						data-bgposition="center center" 
						data-bgfit="cover" 
						data-bgrepeat="no-repeat" 
						data-kenburns="on"
						data-duration="9000"
						data-ease="Linear.easeNone"
						data-scalestart="115"
						data-scaleend="100"
						data-rotatestart="0"
						data-rotateend="0"
						data-offsetstart="0 -200"
						data-offsetend="0 200"
						data-bgparallax="0"
						class="rev-slidebg">

					<div class="tp-caption tp-caption-overlay tp-caption-overlay-primary main-label"
						data-x="center"
						data-y="265"
						data-start="1000"
						data-whitespace="nowrap"						 
						data-transform_in="y:[100%];s:500;"
						data-transform_out="opacity:0;s:500;"
						data-mask_in="x:0px;y:0px;">Ziaul Commercial Learning</div>

					<div class="tp-caption tp-caption-overlay-opacity bottom-label"
						data-x="center"
						data-y="358"
						data-start="2000"
						data-transform_in="y:[100%];opacity:0;s:500;">READ, UNDERSTAND, LEARN AND EXPLORE</div>

				</li>
				<li data-transition="fade">
					<img src="{% static 'img/slides/s2.jpg' %}" 
						alt=""
						data-bgposition="center center" 
						data-bgfit="cover" 
						data-bgrepeat="no-repeat" 
						data-kenburns="on"
						data-duration="9000"
						data-ease="Linear.easeNone"
						data-scalestart="115"
						data-scaleend="100"
						data-rotatestart="0"
						data-rotateend="0"
						data-offsetstart="0 400px"
						data-offsetend="0 -400px"
						data-bgparallax="0"
						class="rev-slidebg">

					<div class="tp-caption tp-caption-overlay tp-caption-overlay-primary main-label"
						data-x="center"
						data-y="265"
						data-start="1000"
						data-whitespace="nowrap"						 
						data-transform_in="y:[100%];s:500;"
						data-transform_out="opacity:0;s:500;"
						data-mask_in="x:0px;y:0px;">Ziaul Commercial Learning</div>

					<div class="tp-caption tp-caption-overlay-opacity bottom-label"
						data-x="center"
						data-y="358"
						data-start="2000"
						data-transform_in="y:[100%];opacity:0;s:500;">READ, UNDERSTAND, LEARN AND EXPLORE</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 center">
				<h2 class="mb-none mt-xl font-weight-semibold">Why Ziaul Commercial Learning</h2>
				<div class="divider divider-primary divider-small divider-small-center mb-xl">
					<hr>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row mt-xl">
			<div class="col-md-10 col-md-offset-1">

				<div class="tabs tabs-bottom tabs-center tabs-simple mt-sm mb-xl">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tabsNavigationSimpleIcons1" data-toggle="tab">
								<span class="featured-boxes featured-boxes-style-6 p-none m-none">
									<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
										<span class="box-content p-none m-none">
											<i class="icon-featured icon-bulb icons"></i>
										</span>
									</span>
								</span>									
								<p class="mb-none pb-none">Focused</p>
							</a>
						</li>
						<li>
							<a href="#tabsNavigationSimpleIcons2" data-toggle="tab">
								<span class="featured-boxes featured-boxes-style-6 p-none m-none">
									<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
										<span class="box-content p-none m-none">
											<i class="icon-featured fa fa-book"></i>
										</span>
									</span>
								</span>									
								<p class="mb-none pb-none">Well Documented</p>
							</a>
						</li>
						<li>
							<a href="#tabsNavigationSimpleIcons3" data-toggle="tab">
								<span class="featured-boxes featured-boxes-style-6 p-none m-none">
									<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
										<span class="box-content p-none m-none">
											<i class="icon-featured fa fa-handshake-o"></i>
										</span>
									</span>
								</span>									
								<p class="mb-none pb-none">Dependable</p>
							</a>
						</li>
						<li>
							<a href="#tabsNavigationSimpleIcons4" data-toggle="tab">
								<span class="featured-boxes featured-boxes-style-6 p-none m-none">
									<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
										<span class="box-content p-none m-none">
											<i class="icon-featured fa fa-outdent"></i>
										</span>
									</span>
								</span>									
								<p class="mb-none pb-none">Exclusive</p>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabsNavigationSimpleIcons1">
							<div class="center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationSimpleIcons2">
							<div class="center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationSimpleIcons3">
							<div class="center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus.Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationSimpleIcons4">
							<div class="center">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<section class="section section-default section-default-scale-8">
		<div class="container">
			<div class="row">
				<div class="col-md-12 center">
					<h2 class="mb-none mt-none font-weight-semibold text-light">MOHAMMAD ZIAUL ALAM</h2>
					<div class="divider divider-primary divider-small divider-small-center mb-xl">
						<hr>
					</div>
					<p class="mb-xlg text-light"><b>• Head of Economics at CIDER International School </b><br>• Former Head, Dept. of Economics at Presidency International School <br>• Former Executive, Corporate sales, Chittagong Region at Navana Group <br>• Former Junior Sales Officer at Newzealand Milk Ltd <br>• Studied Education at National University, Bangladesh <br>• Studied Marketing at Independent University, Bangladesh <br>• Studied Economics at National University, Bangladsh </p>

					<a style="border-radius: 3px;" class="btn btn-primary mt-xl mb-sm" href="{% url 'contact' %}">Say Hello <i class="fa fa-angle-right pl-xs"></i></a>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-md-12 center">
				<h2 class="mb-none mt-xl font-weight-semibold">Recent Blogs</h2>
				<div class="divider divider-primary divider-small divider-small-center mb-xl">
					<hr>
				</div>
			</div>
		</div>
		<div class="row">
			{% for obj in object %}
			<div class="col-md-4 col-sm-8 col-md-offset-0 col-sm-offset-2 custom-sm-margin-bottom-1 custom-md-margin-bottom-1">
				<article class="custom-post-blog">
					<span class="thumb-info custom-thumb-info-2">
						<span class="thumb-info-wrapper">
							<a href="{% url 'blog-details_with_pk' pk=obj.pk %}">
								<img src="{{ obj.images.url }}" alt class="img-responsive" />
							</a>
						</span>
						<span class="thumb-info-caption custom-box-shadow">
							<span class="thumb-info-caption-text">
								<h4 class="font-weight-bold mb-lg">
									<a href="{% url 'blog-details_with_pk' pk=obj.pk %}" class="text-decoration-none custom-secondary-font text-color-dark">
										{{ obj.title }}
									</a>
								</h4>
								<p>{{ obj.description|truncatewords:20 }}</p>
							</span>
							<span class="custom-thumb-info-post-infos center">
								<ul>
									<li class="text-uppercase">
										<i class="icon-calendar icons"></i>
										{{ obj.date }}
									</li>
									<li class="text-uppercase">
										<i class="icon-user icons"></i>
										{{ request.user.username }}
									</li>
								</ul>
							</span>
						</span>
					</span>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

	<script src="js/demos/demo-church.js' %} "></script>
{% endblock content %}