{% extends "base.html" %}
{% load static %}
{% block content %}

	<div role="main" class="main">
		<section class="section section-text-light section-default section-default-scale-8 section-center mt-none">
			<div class="container">
				<div class="row mt-xl">
					<div class="col-md-8 col-md-offset-2 mt-xlg">
						<h1 class="mt-xlg font-weight-semibold text-uppercase">{{ topics.first.subject }} ({{ topics.first.curriculum }})</h1>
						<p class="mb-none lead">All {{ topics.first.subject }} ({{ topics.first.curriculum }}) files</p>
					</div>
				</div>
			</div>
		</section>

		<div class="container">

			<div class="row mt-xl">
				{% for topic in topics %}
				<div class="col-md-4">
					<div class="panel-group without-bg" id="accordion7">
						<div style="border-radius: 5px" class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse{{ topic.id }}">
										{{ topic.title }}
									</a>		
								</h4>
							</div>
							<div id="collapse{{ topic.id }}" class="accordion-body collapse">

								<div>
									<h4 style="padding: 10px 15px; background-color: #5e8c2f; color: white" class="panel-title">
										<a href="{{ topic.file.url }}">
											<i class="fa fa-download"></i>  Download File
										</a>
									</h4>
								</div>
								<div style="padding-top: 10px" class="panel-body">
									<p>{{ topic.description	 }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% endfor %}
					

			</div>

		</div>
	</div>
{% endblock %}

